/* src/pages/css/Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  background-color: #000000;
  padding: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
 
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-name {
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
